<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mongoose Recipes</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <h2>Your recipe has been deleted!</h2>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
